/* Desinged by Patelle Reclame
HTML version of this website
-
-
-
Domain what used for this website: http://itkniphus.nl
Authur Teake Durk Jellema
Company: Patelle Reclame
website company: http://patelle.nl
*/



body {
	margin: 0;
	background: none;
	font-size: 13px;
	font-family: 'lato','sans-serif';
}

h1,h2,h3,h4,h5 {
	font-weight: 500;
}

p {
	letter-spacing: 1.2px;
}

.header {
	width: 100%;
	height: 700px;
	max-height: 800px;
	margin: auto;
	background: url(img/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

h2.section-title {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 4px;
	font-size: 40px;
	color: #42424a;
	
}

p.sub-tekst {
	text-align: center;
	font-style: italic;
	color: #67676f;
	padding-bottom: 46px;
}

.logo-content {
	width: 100%;
	background: #fff;
}

.header-title h1{
	color: #fff;
	font-size: 60px;
}

.header-title {
	margin: 0 auto;
	position: relative;
	padding: 0;
	text-align: center;
	padding-top: 250px;
}

.logo-header {
	position: relative;
	margin: 0 auto;
	padding: 0;
	text-align: center;


}

.line-up {
	text-align: center;
	font-style: italic;
	color: #67676f;
	padding-left: 3px;
	font-size: 18px;
}

span {
	font-size: 25px;
	color: #f76b6b;
}

a.button {
    background: #08b5ff;
    padding: 15px 19px 15px 19px;
    font-size: 21px;
    border-radius: 8px;
    color: #fff;
    position: relative;
    top: 50px;
}

a.button:hover {
	background: #089ede;
	transition: ease all 0.8s;
	-webkit-transition: ease all 0.8s;
	-moz-webkit-transition: ease all 0.8s;
	color: #08b5ff;

}

.section-1 {
    margin: auto;
    margin-top: -50px;
    padding-bottom: 45px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #fff;
}

.section-2 {
    margin: auto;;
    padding-bottom: 45px;
    background: #fff;
}

.price {
	position: relative;
	float: left;
	padding-bottom: 15px;
}

.site-inner {
	width: auto;
	background: #f9f8f8;
}

.image-box {
	float: left;
	align-items: center;
	text-align: center;
}

.tekst-area {
	float: left;
}

.footer {
	height: 50px;
    background: #26262b;
    box-shadow: 4px 1px 15px #000000b0;
    z-index: 1;
    position: relative;
}

.end-info{
	margin: 0 auto;
	color: #fff;
	padding-top: 10px;
}

table th{
	text-align: left;
	position: relative;
	padding-bottom: 12px;
}



td {
	padding-bottom: 7px;
}

th, td {
	border-left: 2px solid #e0e0e0;
    padding-left: 25px;
}
